<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>Univers Else</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>copyright</key>
	<string>Pierre Huyghebaert (Typography, initiative, testing)
Pierre Marchand (Development and typography, Fonzie software)
Delphine Platteeuw (Design and testing)
Gregoire Vigneron (Scanning and assembling)

OSP: December 2010 - Version 1.0 (http://ospublish.constantvzw.org/foundry/univers-else)

Univers Else is released under the OFL 1.1 -- http://scripts.sil.org/OFL

For information on what you're allowed to change or modify, 
consult the OFL-1.1.txt and OFL-FAQ.txt files.  The OFL-FAQ also gives a very general rationale and various recommendations regarding why you would want to contribute to the project or make your own version of the font.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>527</integer>
	<key>capHeight</key>
	<integer>749</integer>
	<key>ascender</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>0</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2010/09/31 20:52:52</string>
	<key>openTypeNameVersion</key>
	<string>Version 001.000</string>
	<key>openTypeNameUniqueID</key>
	<string>FontForge : Univers Else Regular  : 9-12-2010</string>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2VendorID</key>
	<string>PfEd</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Type</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>800</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>200</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>90</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>1117</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>-212</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>140</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>480</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>49</integer>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>258</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>31</integer>
		<integer>33</integer>
	</array>
	<key>openTypeOS2CodePageRanges</key>
	<array>
		<integer>0</integer>
	</array>
	<key>postscriptFontName</key>
	<string>UniversElse-Regular</string>
	<key>postscriptFullName</key>
	<string>Univers Else Regular </string>
	<key>postscriptWeightName</key>
	<string>Book</string>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-300</integer>
    </dict>
</plist>
